# Misc
.DS_Store
.direnv/

# Python
__pycache__/
.ipynb_checkpoints/
.venv/
.temp/
.idea/

# Resources
resources

# Large assets (use Git LFS if needed)
*.gif
*.mp4
assets/*.png

# Large notebooks with output
notebooks/
!notebooks/final_project/
!notebooks/final_project/portal_angled_45.png
